@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LatoWeb';
  src: url('/Lato-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWeb';
  src:url('/Lato-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'LatoWeb';
  src: url('/Lato-Semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@layer base {
  html {
    font-family: LatoWeb, system-ui, sans-serif;
  }

  body,
  html,
  #root {
    @apply w-full min-h-screen bg-gray-50;
  }

  input {
    @apply my-1 px-3 py-2 rounded-md;
  }

  button {
    @apply mx-1 my-1 px-3 py-2 rounded-md transition-colors;
  }  

  th {
    text-align: left;
  }
}

